.carousel{
    height: 400px;
    width: 100%;
}

#home-div{
    text-align: center;
    height: 100%;
}

h2{
    font-size: 40px;
    margin: 20px 0;
}

.item{
    height: 400px;
}
#body{
    margin: 0 30% 40px 30%;
    text-align: center;
}